body {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-size: 30px;
}

.size {
  font-size: 28px;
  color: rgb(0, 162, 255);
}

.navbar {
  color: rgb(0, 162, 255);
  background-color: white;
}

section {
  padding-top: 5rem;
}

section h2 {
  color: rgb(0, 162, 255);
  font-family: "Pacifico", cursive;
  font-size: 50px;
}

.jumbotron h1 {
  color: rgb(0, 162, 255);
  padding-right: 2rem;
}

.jumbotron h4 {
  color: rgb(107, 193, 243);
}

.icon {
  font-size: 70px;
  color: rgb(0, 162, 255);
}

#about h5 {
  color: rgb(0, 162, 255);
}

#contact h2,
#contact h3,
#contact h5,
#contact p {
  color: rgb(0, 162, 255);
}

footer {
  background-color: rgb(0, 162, 255);
}
